body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #1a1a1a; /* Fondo oscuro */
  color: #f0f0f0; /* Texto claro */
  padding: 20px;
  box-sizing: border-box;
}

.gallery-description {
  text-align: center;
  margin-bottom: 40px;
  font-size: 1.1em;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.6;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.gallery-item {
  background-color: #333;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  position: relative;
}

.gallery-item:hover {
  transform: translateY(-5px);
}

.gallery-item img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  display: block;
  filter: grayscale(100%);
  transition: filter 0.5s ease-in-out;
}

.gallery-item img.color-image {
  filter: grayscale(0%);
}

.gallery-item .caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  font-size: 1.3em;
  font-weight: bold;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  z-index: 1;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

/* Lightbox */
.lightbox {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.lightbox-content {
  max-width: 90%;
  max-height: 80%;
  margin-bottom: 10px;
  border: 3px solid white;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}

#lightbox-caption {
  color: white;
  font-size: 1.2rem;
  margin-top: 10px;
  text-align: center;
  max-width: 90%;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 40px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.close-button:hover,
.close-button:focus {
  color: #bbb;
  text-decoration: none;
}
