/* Fondo y fuente general */
body {
  margin: 0;
  padding: 0;
  background-image: url('fotos/mesa.jpg');
  font-family: 'Montserrat', sans-serif;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Contenedor principal */
.mesa {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* Polaroids */
.item {
  position: absolute;
  width: 250px;
  height: auto;
  z-index: 5;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.item:hover {
  transform: scale(1.1);
}

.item img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}

/* Estilo de marco tipo polaroid */
.polaroid {
  background: white;
  padding: 10px 10px 30px 10px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  transform: rotate(-2deg);
  transition: transform 0.2s ease;
  text-align: center;
}

.polaroid:hover {
  transform: rotate(0deg) scale(1.05);
}

.polaroid img {
  border-radius: 4px;
}

/* Título debajo de la imagen */
.descripcion {
  margin-top: 8px;
  font-size: 16px;
  color: #000000;
  font-family: 'Patrick Hand', cursive;
   display: inline-block;
}

/* Botón de radio */
.radio-boton {
  position: absolute;
  bottom: 40px;
  right: 100px;
  width: 400px;
  cursor: pointer;
}

.radio-boton img {
  width: 100%;
  display: block;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .item {
    width: 35vw;
  }

  .descripcion {
    font-size: 14px;
  }

  .radio-boton {
    width: 60vw;
    right: 20px;
    bottom: 20px;
  }
}
